* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.096);
}

#container-form-blog {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 40px;
    text-align: center;
    box-shadow: 2px 5px 5px rgba(54, 54, 54, 0.623);
    margin-bottom: 15px;
}

#container-form-blog h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

#container-form-blog input, textarea{
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 25px;
    border-radius: 2px;
    border: 0;
}

#container-form-blog  input[type = "submit"] {
    background: none;
    border: 2px solid #8b8b8b;
    cursor: pointer;
}

#container-form-blog input[type = "submit"]:hover {
    background: #8b8b8b;
    color: whitesmoke;
    font-weight: 500;
}

#new-post-published {
    background: rgba(165, 42, 42, 0.527);
    padding: 15px;
    width: 420px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 5px;
}

#imgPost {
    width: 150px;
    height: 100px;
}
