.BigCard {
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.287);
    padding: 10px 20px 10px 10px;
}

.BigCard h3 {
    text-align: left;
}

.BigCard img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 15px 10px 0 15px;
}

.BigCard p {
    display: block;
    text-align: justify;
}
